<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <style>
        footer {
            position: fixed; 
            left: 0;
            bottom: 0; 
            padding: 10px; 
            width: 100%;
            text-align:center;
        }
    </style>
</head>

<body>
    <footer>
           Made by Nikita Kaida
    </footer>
    @RenderBody()
</body>
</html>