@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Книжный магазин</title>
    <style>
        body 
        {
            background-color:burlywood;
        }
        h3, p {
            text-align: center;
            border: 5px solid chocolate;
            background-color: chocolate;
            border-radius: 10px 20px;
        }
        a {          
            border: 7px solid chocolate;
            background-color: chocolate;
            border-radius: 10px 20px;
        }
        #for_table {
           padding-left:15%;
           margin-top:-35%;
        }
        #reclam {
            margin-top: 52px;
            padding-right: 0px;
            padding-left: 0px;
            
        }

    </style>
</head>
<body>
    <div>
        <h3>Распродажа книг</h3>
        <hr/>
        <div id="reclam">
            <div style="margin-top:5px" class="baner">
                <img width="150" height="200" src="https://pp.userapi.com/c840337/v840337183/7a28e/P7sT9zG17uY.jpg?ava=1" />
            </div>
            <div style="margin-top:10px" class="baner">
                <img width="150" height="200" src="https://pp.userapi.com/c840337/v840337183/7a28e/P7sT9zG17uY.jpg?ava=1" />
            </div>
        </div>
        <div id="for_table">
            <table>
                <tr>
                    <td><p>Фото</p></td>
                    <td><p>Название книги</p></td>
                    <td><p>Автор</p></td>
                    <td><p>Цена</p></td>
                    <td></td>
                </tr>
                @foreach (var b in ViewBag.Books)
                {
                    <tr>
                        <td><p><img width="100" height="150" src="@b.image" /></p></td>
                        <td><p>@b.Name</p></td>
                        <td><p>@b.Author</p></td>
                        <td><p>@b.Price</p></td>
                        <td><p><a href="/Home/Buy/@b.Id">Купить</a></p></td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>
</html>
